Repository buildwithgrove/helm-charts, pull requests merged in 2025-03, with the labels that each got.

#22 [GUARD][ENVOY] GUARD chart enhancements and docs
  charts/guard/README.md
  charts/guard/templates/_helpers.tpl
  charts/guard/templates/auth-pads.yaml
  charts/guard/templates/auth-server.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/ext-auth-pads.yaml
  charts/guard/templates/ext-auth-server.yaml
  charts/guard/templates/httproute-header.yaml
  charts/guard/templates/httproute-healthz.yaml
  charts/guard/templates/httproute-notfound.yaml
  charts/guard/templates/httproute-subdomain.yaml
  charts/guard/values.yaml
Labels: enhancement, guard

#21 [GUARD][ENVOY][AUTH] Implement external auth server & PADS to authorize requests
  charts/guard/README.md
  charts/guard/templates/_helpers.tpl
  charts/guard/templates/auth-pads.yaml
  charts/guard/templates/auth-server.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/gateway-class.yaml
  charts/guard/templates/gateway.yaml
  charts/guard/templates/httproute-header.yaml
  charts/guard/templates/httproute-healthz.yaml
  charts/guard/templates/httproute-notfound.yaml
  charts/guard/templates/httproute-subdomain.yaml
  charts/guard/values.yaml
Labels: guard, envoy

#20 [GUARD][ENVOY] feat: created helm charts for GUARD
  .gitignore
  charts/guard/Chart.yaml
  charts/guard/README.md
  charts/guard/templates/_helpers.tpl
  charts/guard/templates/auth-pads.yaml
  charts/guard/templates/auth-server.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/httproute-header.yaml
  charts/guard/templates/httproute-healthz.yaml
  charts/guard/templates/httproute-notfound.yaml
  charts/guard/templates/httproute-subdomain.yaml
  charts/guard/values.yaml
  charts/path/Chart.yaml
  charts/path/README.md
Labels: path, guard, envoy

#25 [WATCH] First version of Helm Chart for WATCH: Workload Analytics and Telemetry for Comprehensive Health
  charts/watch/Chart.yaml
  charts/watch/README.md
  charts/watch/dashboards/path/morse.json
  charts/watch/dashboards/path/overview.json
  charts/watch/dashboards/path/path.json
  charts/watch/docs/accessing-grafana.md
  charts/watch/docs/architecture.md
  charts/watch/docs/dashboard-implementation-guide.md
  charts/watch/docs/img/grafana-add-custom-dashboard.png
  charts/watch/templates/_helpers.tpl
  charts/watch/templates/dashboards-custom.yaml
  charts/watch/templates/dashboards-guard.yaml
  charts/watch/templates/dashboards-path.yaml
  charts/watch/templates/datasources-configmap.yaml
  charts/watch/templates/servicemonitor-guard.yaml
  charts/watch/templates/servicemonitor-path.yaml
  charts/watch/values.yaml
Labels: enhancement, WATCH

#29 [PATH] Use WATCH chart in PATH chart
  charts/path/Chart.yaml
  charts/path/README.md
  charts/path/docs/img/grafana-add-dashboard.png
  charts/path/docs/img/grafana-dashboards-list.png
  charts/path/docs/img/grafana-path-dashboards.png
  charts/path/docs/namespace-rbac-considerations.md
  charts/path/docs/path-accessing-grafana.md
  charts/path/docs/path-watch-integration-guide.md
  charts/path/install-path.sh
  charts/path/templates/NOTES.txt
  charts/path/templates/ServiceMonitor.yaml
  charts/path/templates/additional-manifests.yaml
  charts/path/templates/deployment.yaml
  charts/path/values.yaml
  charts/watch/templates/_helpers.tpl
  charts/watch/templates/dashboards-guard.yaml
  charts/watch/templates/dashboards-path.yaml
  charts/watch/values.yaml
Labels: enhancement, path, WATCH

#26 [GUARD] Make GUARD a dependency of PATH Helm chart
  charts/guard/Chart.yaml
  charts/guard/README.md
  charts/guard/templates/auth-pads.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/httproute-header.yaml
  charts/guard/templates/httproute-healthz.yaml
  charts/guard/templates/httproute-notfound.yaml
  charts/guard/templates/httproute-subdomain.yaml
  charts/guard/values.yaml
  charts/path/Chart.yaml
  charts/path/values.yaml
Labels: guard, envoy, WATCH

#27 [GUARD] Make API key default GUARD auth and remove refs to Grove Legacy
  charts/guard/README.md
  charts/guard/templates/auth-api-key/api-keys-secret.yaml
  charts/guard/templates/auth-api-key/security-policy.yaml
  charts/guard/templates/auth-grove/pads.yaml
  charts/guard/templates/auth-grove/peas.yaml
  charts/guard/templates/auth-grove/security-policy.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/routing/httproute-header.yaml
  charts/guard/templates/routing/httproute-healthz.yaml
  charts/guard/templates/routing/httproute-notfound.yaml
  charts/guard/templates/routing/httproute-subdomain.yaml
  charts/guard/values.yaml
  charts/path/Chart.yaml
  charts/path/namespace-considerations.md
  charts/path/path-accessing-grafana.md
  charts/path/path-chart-docs.md
  charts/path/path-watch-integration-guide.md
  charts/path/values.yaml
  charts/watch/README.md
Labels: guard, envoy

#30 [GUARD][Middleware] Controlled Traffic Shifting
  .github/workflows/reviewdog.yml
  .pre-commit-config.yaml
  charts/guard/README.md
  charts/guard/templates/routing/httproute-subdomain.yaml
  charts/guard/values.yaml
  charts/path/values.yaml
Labels: enhancement, path, guard

#31 Update GUARD and WATCH versions
  charts/guard/Chart.yaml
  charts/watch/Chart.yaml
Labels: guard, WATCH

#33 Fix CI chart releaser to use a separate stage for each chart
  .github/workflows/release.yml
  charts/watch/Chart.yaml
Labels: release, CI

#34 Bump GUARD:0.1.5, PATH:0.1.11 and dependencies
  charts/guard/Chart.yaml
  charts/path/Chart.yaml
Labels: path, guard

#38 Bump PATh dependencies: WATCH:0.1.5, GUARD:0.1.8
  charts/path/Chart.yaml
Labels: path

#36 Rollback to chart-releaser action
  .github/workflows/release.yml
  Makefile
  README.md
  dependency_validation.sh
Labels: bug, CI

#41 chore: bump GUARD to 0.1.2 and WATCH to 0.1.1"
  charts/guard/Chart.yaml
  charts/watch/Chart.yaml
Labels: release

#43 Update Helm setup action version
  .github/workflows/release.yml
Labels: bug, CI

#35 [CI] Improve Helm Chart Release Pipeline with Reliable Change Detection and Sequential Processing
  .github/workflows/release.yml
Labels: release, CI

#54 Add volume configuration from secret and conditional to create ConfigMap
  charts/guard/Chart.yaml
  charts/guard/templates/auth-grove/pads.yaml
  charts/guard/values.yaml
Labels: enhancement

#56 Add envFrom to pads deployment
  charts/guard/Chart.yaml
  charts/guard/templates/auth-grove/pads.yaml
  charts/guard/values.yaml
  charts/path/Chart.yaml
Labels: enhancement

#65 Remove gatway helm from charts
  charts/gateway-helm/.helmignore
  charts/gateway-helm/Chart.yaml
  charts/gateway-helm/README.md
  charts/gateway-helm/crds/gatewayapi-crds.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_backends.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_backendtrafficpolicies.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_clienttrafficpolicies.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_envoyextensionpolicies.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_envoypatchpolicies.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_envoyproxies.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_httproutefilters.yaml
  charts/gateway-helm/crds/generated/gateway.envoyproxy.io_securitypolicies.yaml
  charts/gateway-helm/templates/NOTES.txt
  charts/gateway-helm/templates/_helpers.tpl
  charts/gateway-helm/templates/_rbac.tpl
  charts/gateway-helm/templates/certgen-rbac.yaml
  charts/gateway-helm/templates/certgen.yaml
  charts/gateway-helm/templates/envoy-gateway-config.yaml
  charts/gateway-helm/templates/envoy-gateway-deployment.yaml
  charts/gateway-helm/templates/envoy-gateway-poddisruptionbudget.yaml
  charts/gateway-helm/templates/envoy-gateway-rbac.yaml
  charts/gateway-helm/templates/envoy-gateway-service.yaml
  charts/gateway-helm/templates/envoy-gateway-serviceaccount.yaml
  charts/gateway-helm/templates/infra-manager-rbac.yaml
  charts/gateway-helm/templates/leader-election-rbac.yaml
  charts/gateway-helm/templates/namespace.yaml
  charts/gateway-helm/values.yaml
Labels: envoy

#66 Update GUARD chart with custom Envoy Proxy configuration
  charts/guard/Chart.yaml
  charts/guard/README.md
  charts/guard/charts/gateway-helm-v1.3.0.tgz
  charts/guard/charts/gateway-helm-v1.3.1.tgz
  charts/guard/templates/custom-envoy-proxy.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/values.yaml
Labels: bug, guard

#67 Fix/guard dependency
  .github/workflows/release.yml
Labels: CI

#68 Bump versions for GUARD and WATCH
  charts/guard/Chart.yaml
  charts/watch/Chart.yaml
Labels: CI

#69 Bump version for PATH
  charts/path/Chart.yaml
Labels: CI

#71 [GUARD] Add Reference Grant to enable cross namespace communication and ability to set namespace for GUARD resources
  charts/guard/templates/auth-api-key/api-keys-secret.yaml
  charts/guard/templates/auth-api-key/security-policy.yaml
  charts/guard/templates/auth-grove/pads.yaml
  charts/guard/templates/auth-grove/peas.yaml
  charts/guard/templates/auth-grove/security-policy.yaml
  charts/guard/templates/custom-envoy-proxy.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/routing/httproute-header.yaml
  charts/guard/templates/routing/httproute-healthz.yaml
  charts/guard/templates/routing/httproute-notfound.yaml
  charts/guard/templates/routing/httproute-subdomain.yaml
  charts/guard/templates/routing/reference_grant.yaml
  charts/guard/values.yaml
Labels: guard

#70 [Claude] First version of helpers to make `claudesync` easier to use
  .claudeignore
  .gitignore
  Makefile
  README.md
  makefiles/claude.mk
Labels: documentation, enhancement

#73 GUARD: redirect requests with no prefix to healthz endpoint
  charts/guard/Chart.yaml
  charts/guard/templates/envoy-gateway.yaml
  charts/guard/templates/routing/httproute-healthz-no-prefix.yaml
Labels: guard

#74 Bump PATH GUARD dependency to v0.1.16
  charts/path/Chart.yaml
Labels: path, guard

#76 GUARD: use v1alpha2 version in Reference Grant resource
  charts/guard/Chart.yaml
  charts/guard/templates/routing/reference_grant.yaml
Labels: guard

#77 Bump PATH GUARD dependency to v0.1.17
  charts/path/Chart.yaml
Labels: path, guard

#81 Bump GUARD referenceGrant to v1beta1
  charts/guard/Chart.yaml
  charts/guard/templates/routing/reference_grant.yaml
Labels: guard

#82 Bump PATH GUARD dependency v0.1.18
  charts/path/Chart.yaml
Labels: path, guard
